---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Works from "../components/Works.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portfolio">
  <main>
    <Hero />
    <About />
    <Skills />
    <Works />
    <Contact />
  </main>
</Layout>
